  <section class="hero is-success is-fullheight">
      <div class="hero-body">
          <div class="container has-text-centered">
              <div class="column is-4 is-offset-4">
                  <h3 class="title has-text-grey">Login</h3>
                  <p class="subtitle has-text-grey">Please login to proceed.</p>
                  <div class="box">
                      <figure class="avatar">
                          <img src="https://placehold.it/128x128">
                      </figure>
                      <form [formGroup] = 'myForm' (ngSubmit)='formSubmitted(myForm.value)'>
                          <div class="field">
                              <div class="control">
                                  <input class="input is-medium" type="email" placeholder="Your Email" autofocus=""
                                  formControlName='email'
                                  [class.is-danger]="!controlFlags.addDangerClassStyleEmail">
                              </div>
                                <p class="help is-danger" *ngIf="controlFlags.emailErrorsMsg.addRequiredMsg">
                                    required email
                                </p>
                                <p class="help is-danger" *ngIf="controlFlags.emailErrorsMsg.addInvalidMsg">
                                    invalid email
                                </p>
                          </div>

                          <div class="field">
                              <div class="control">
                                  <input class="input is-medium" type="password" placeholder="Your Password" 
                                  formControlName='password' 
                                  [class.is-danger]="!controlFlags.addDangerClassStylePassword">
                              </div>
                              <p class="help is-danger" *ngIf="controlFlags.passwordErrorsMsg.addRequiredMsg">
                                password is required
                              </p>
                              <p class="help is-danger" *ngIf="controlFlags.passwordErrorsMsg.addMinLengthMsg">
                                Your password must be at least 8 characters long. 
                              </p>
                          </div>
                          <div class="field">
                              <label class="checkbox">
                <input type="checkbox">
                Remember me
              </label>
                          </div>
                          <button class="button is-block is-info is-large is-fullwidth"
                          type='submit' [disabled]='!controlFlags.submitBtnIsDisabled'>Login
                          </button>
                      </form>
                  </div>
                  <p class="has-text-grey">
                      <a href="../">Sign Up</a> &nbsp;·&nbsp;
                      <a href="../">Forgot Password</a> &nbsp;·&nbsp;
                      <a href="../">Need Help?</a>
                  </p>
              </div>
          </div>
      </div>
  </section>
